# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# python env
myenv

# sqlite
db.sqlite3

previo/

.env
frontend/vite-project/tsconfig.json
frontend/vite-project/src/vite-env.d.ts
frontend/vite-project/src/typescript.svg
frontend/vite-project/src/style.css
frontend/vite-project/src/main.ts
frontend/vite-project/src/counter.ts
frontend/vite-project/public/vite.svg
frontend/vite-project/package.json
frontend/vite-project/index.html
