.popup{
    position: fixed;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background-color: black;
    opacity: 0.5;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 0.5rem;
    border-radius: 0.25rem;
    z-index: 1;
}