#app-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
.header {

    height: auto;
    background-color: #AED2FF;
    color: white;
    text-align: center;
    align-items: center;
    padding: 2.5vw;
}

#UN  {
    color: #9400FF;
    font-size: 1.8em;
    text-decoration: none;

}
.Column-Header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.idiom-header{
    margin: 0 10vw;
}
#idiom-button{
    color: #9400FF;
    width: 150%;
    position: relative;
    font-size: 1.4rem;
    
    background: none;
    font-weight:lighter;

}
.idiom-button .menu a{
    text-decoration: none;
}
.idiom-button .menu  {
  width: 10%;
  text-align: center;

  position: absolute;

  top: 2vw;
  right:18vw;
  border: 1px solid #ced4da;
  list-style: none;
  background-color: #9400FF; 

}
.idiom-button .menu li {
  padding: 1px 0; 
  cursor: pointer;
  border: none;
    
  text-decoration: none;
}
     








.form-box_r {
    position: absolute;
    width: 100%; 
    height: 100%;
    background: transparent;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9400FF;
    
}

.inputbox_r {
    position: relative;
    padding-bottom: 1vw;
    margin: 0 4.5vw; 
}

.inputbox_r input {
    border: none;
    border-bottom: 2px solid #E4F1FF;
    background: transparent;
    display: flex;
    outline: none;
    margin: 5px 0;

}
.inputbox_r label {

    border: none;
    margin: 5px 0;
    outline: none;

}
.column-container_r {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column_r {

    margin-right: 20px;  
}

#programa_curricular {
    position: absolute;
    width: 30%;
    cursor: pointer;
}

#program_button {
    width: 30%;
    position: relative;
    display: inline;
    color: #E4F1FF;
    background: none;
    font-weight:lighter;
    transform: translateX(15%);
}
.program_button .menu a {
  text-decoration: none; 
 
}
.program_button .menu {
  width: 13%;
  text-align: center;

  position: absolute;

    top: 30vw;
    left: 40vw;
  border: 1px solid #ced4da;
 
  list-style: none;
  background-color: #9400FF; 
  text-decoration: none;
}
  
.program_button .menu li {
  padding: 10px 0; 
  cursor: pointer;
  border: none;
    
  text-decoration: none;
}

#registrar{
    width: 30%;
    transform: translateX(195%);
    text-align: center;
    position: relative ;
}
