
.container {
  display: flex;
  background-color: #ba7de6;
  width: 25vw;
  height:40vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid #27005D; */
  border-radius: 15px;
  padding: 15px 10px;
  color: #e4f1ff;
  
}
.img {
  width: 17vw;
  height: auto;
}
.name {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  text-shadow: -1px 0 violet, 0 1px violet, 1px 0 violet, 0 -1px violet;
}
.text {
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-weight: Thin;
  font-size: 1em;

  padding-top: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border-Top: 2px solid white;
  
  
}
.status {

  font-family: "Inter", sans-serif;
  margin-top: -46px;
  font-size: 1.1em;
  background-color: transparent;
  width: auto;
  height: 1px;

  padding-top: 5px;
  margin-top: 5px;
  text-align: center;
  justify-items: center;
  border-radius: 5px;
  border-Top: 2px solid white;
  
}
.status.free {

  color: #006b21;
}

.status.not-available {
  color: #e2c210;
}

.status.reserved {
  color: #b30021;
}
