.container {
  display: flex;
  background-color: #ba7de6;
  width: 25vw;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid #27005D; */
  border-radius: 15px;
  padding: 15px 10px;
  box-shadow: 0 0 30px rgba(148, 0, 255, 0.5);
  color: #e4f1ff;
  
}
.img {
  width: 17vw;
  height: auto;
}
.name {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  text-shadow: -1px 0 violet, 0 1px violet, 1px 0 violet, 0 -1px violet;
}
.text {
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-weight: Thin;
  font-size: 1em;
}
