/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
} */
.contenedor-encabezado{

}
.encabezado{

}
.Logo-encabezado{

}
.barra-de-navegacion{

}
.contenedor-de-filtros{

}
.contenedor-principal{

}
.Contenedor-de-scrol-de-imagenes{

}
.contenedor-de-parte-baja{

}
.seccion-de-noticias{

}
.encabezado-noticias{
  
}
